{% extends 'wireframes/templates/layouts/base.html' %}
{% block content %}
<div class="title">
	<h2>Sites</h2>
</div>
<ul class="sm-list unstyled">
	<li>
		<a href="/deploy/mtprime">
      <span class="status-tagged"></span>
      <strong>Monkey Test Prime</strong>
    </a>
	</li>
	<li>
		<a href="/deploy/mtprime">
			<span class="status-changed"></span>
			<strong>Monkey Test 2</strong>
		</a>
	</li>
	<li>
		<a href="/deploy/mtprime">
			<span class="status-error"></span>
			<strong>Monkey Test 3</strong>
		</a>
	</li>
</ul>
{% endblock %}