<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>

  <!-- styles -->
  <link rel="stylesheet" href="/wf/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/wf/css/style.css">
</head>

<body>
  <!-- all our content goes inside of here -->
  <div class="container">
    {% include 'wireframes/templates/layouts/header.html' %}

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

  </div>
  <!-- end of container -->

  <script language="javascript" type="text/javascript" src="/wf/js/jquery-1.7.2.js"></script>
  <script language="javascript" type="text/javascript" src="/wf/bootstrap/js/bootstrap.js"></script>
</body>

</html>