<header class="jumbotron subhead" id="overview">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Doula</a>
                <ul class="nav">
                    {% set path = request.path %}
                    <li {% if path.startswith('/packages') %} class="active" {% endif %}>
                        <a href="/packages">Packages</a>
                    </li>
                    <li {% if path.startswith('/appenvs') %} class="active" {% endif %}>
                        <a href="/appenvs">App Envs</a>
                    </li>
                    <li {% if path.startswith('/deploy') %} class="active" {% endif %}>
                        <a href="/deploys">Deploy</a>
                    </li>
                    <li {% if path.startswith('/queue') %} class="active" {% endif %}>
                        <a href="/queues">Queue</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>