{% extends 'wireframes/templates/layouts/base.html' %}
{% block content %}
<div class="title">
	<h2>Billweb on Monkey Test Prime</h2>
</div>
<div>
<form class="well">
  
  <a id="cycle" class="btn sm-btn" href="#">
  <i class="icon-repeat icon-black"></i> Cycle Service</a>
  <a id="push-to-test-env" class="btn sm-btn" href="#">
  <i class="icon-chevron-right icon-black"></i> Push to Test Environment</a>
  <a id="add-pckg" class="btn sm-btn-success" href="#">
  <i class="icon-plus icon-white"></i> Add New Package</a>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Package</th>
      <th>Version</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pyramid</td>
      <td>
      	<select id="select01">
          <option>remove</option>
          <option selected="selected">3.2.3</option>
          <option>3.1.6</option>
        </select>
      </td>
      <td>
      	<a id="push-to-cheese" class="btn sm-btn-primary" href="#">
  <i class="icon-chevron-right icon-white"></i> Push New Package To Cheese Prism</a>
      </td>
    </tr>
    <tr>
      <td>Jinja2</td>
      <td>
      	<select id="select01">
          <option>remove</option>
          <option>1.9.2</option>
          <option selected="selected">1.9.3</option>
        </select>
      </td>
      <td>
        <a class="btn sm-btn-primary" href="#">
  <i class="icon-chevron-right icon-white"></i> Push New Package To Cheese Prism</a>
      </td>
    </tr>
    <tr>
      <td>Validictory</td>
      <td>
      	<select id="select01">
          <option>remove</option>
          <option selected="selected">0.0.6</option>
        </select>
      </td>
      <td>
        <a class="btn sm-btn-primary" href="#">
  <i class="icon-chevron-right icon-white"></i> Push New Package To Cheese Prism</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div id="add-packages" class="modal hide">
  <div class="modal-header">
    <h3>Packages on Cheese Prism</h3>
  </div>
  <div class="modal-body">
    <form class="well">
    <select id="select01">
      <option selected="selected">Select a package</option>
      <option>Mako</option>
      <option>Python-Excel</option>
    </select>
    <span class="help-block">
      Select the package you want to add to this Application Environment
    </span>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn sm-btn">Add to Application Environment</a>
  </div>
</div>
<div id="push-to-cheese-modal" class="modal hide">
  <div class="modal-header">
    <h3>Push New Package to Cheese Prism</h3>
  </div>
  <div class="modal-body">
    <form class="well">
    <select id="select01">
      <option selected="selected">Select a branch</option>
      <option>master</option>
      <option>test-feature</option>
    </select>
    <span class="help-block">
      Select the branch you want to package and send to Cheese Prism. The head of the Git Repo will be packaged.
    </span>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a id="add-to-cheeseprism" class="btn sm-btn-success" href="#">
  <i class="icon-plus icon-white"></i> Add to Cheese Prism</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript" src="/wf/js/appenvs/appenvs.js"></script>
{% endblock %}