<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>

  <!-- styles -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    {% include 'layouts/header.html' %}

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>

  <!-- end of container -->
  {% include 'parts/feedback_tab.html' %}

  {% include 'error/modal_error.html' %}

  {{ [
  '/js/libs/jquery.js',
  '/js/libs/bootstrap.js',
  '/js/libs/notifier.js',
  '/js/common/global.js'
  ]|js_script|safe }}

  {% block scripts %}
  {% endblock %}

</body>

</html>