<header class="jumbotron subhead" id="overview">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Doula</a>
                <ul class="nav">
                    {% set path = request.path %}
                    <li {% if path.startswith('/envs') or path == "/" %} 
                    class="active" {% endif %}>
                        <a href="/envs">Environments</a>
                    </li>
                    <li {% if path.startswith('/queue') %} class="active" {% endif %}>
                        <a href="/queue">Queue</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="/settings" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog icon-white"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>