<header class="jumbotron subhead" id="mainnav">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Doula</a>
        <ul class="nav">
          {% set path = request.path %}
          <li {% if path.startswith('/sites') or path == "/" %}
          class="active" {% endif %}>
              <a href="/sites">Sites</a>
          </li>
          <li {% if path.startswith('/packages') %} class="active" {% endif %}>
              <a href="/packages">Packages</a>
          </li>
          <li {% if path.startswith('/queue') %} class="active" {% endif %}>
              <a href="/queue">Queue</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown
              {% if path.startswith('/settings') %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="avatar" src="{% if request.user['avatar_url'] %}
                      {{ request.user['avatar_url'] }}
                  {% else %}
                    /images/anon-gravatar.png
                  {% endif %}" />
                  {{ request.user['username'] }}
                  <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="/settings"
                  {% if path.startswith('/settings') %}class="active"{% endif %}>Settings</a>
                </li>
                <li>
                  <a href="/docs"
                  {% if path.startswith('/docs') %}class="active"{% endif %}>Docs</a>
                </li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>