{% extends 'layouts/base.html' %}
{% block content %}
<div class="title">
  <h2>{{ env.name|upper }}</h2>
</div>
<div class="accordion group" id="envs-accordion">

  {% for key_val_pair in env.services|dictsort %}
  {% set service = key_val_pair[1] %}

  <div class="accordion-group">
    <div class="accordion-heading group">
      <!-- -->
      <a id="link_{{ service.name_url }}" class="accordion-toggle accord-title" 
      
      {% if service.status.startswith('change_to') %}
        title="{{ service.name }} has already been tagged ({{ service.last_tag.name }})"
        data-toggle="collapse" data-parent="#envs-accordion"
      {% else %}
        data-toggle="do_not_collapse" rel="tooltip" 
        {% if service.status == 'tagged' %}
          title="{{ service.name }} has already been tagged ({{ service.last_tag.name }})"
        {% elif service.status == 'uncommitted_changes' %}
          title="{{ service.name }} has uncommitted changes. See the details for what's been changed."
        {% endif %}
      {% endif %}

      href="#collapse_{{ service.name_url }}">
        <span class="{{ service.get_status()|get_status_class }}"></span>
        {{ service.name }}
      </a>

      {% if config.get('dev_env') != 'prod' %}
      <a href="/envs/{{ env.name_url }}/{{ service.name_url }}" class="accord-link">
        Release Actions
      </a>
      {% endif %}
      <a href="/envs/{{ env.name_url }}/{{ service.name_url }}/details" 
      class="accord-link">
        Service Details
      </a>
    </div>

    <div id="collapse_{{ service.name_url }}" class="accordion-body collapse">
      <div class="accordion-inner">
        <form id="form_{{ service.name_url }}" class="well">
          <label>Tag</label>
          <input id="tag_{{ service.name_url }}" value="{{ service.next_version() }}" class="input-xlarge" type="text" />
          <span class="instruct">Last tag: <strong>{{ service.last_tag.name }}</strong></span>
          <label>Commit Message:</label>
          <textarea class="input-xlarge" id="msg_{{ service.name_url }}" cols="40" rows="5" required placeholder="Don’t make something unless it is both necessary and useful; but if it is both necessary and useful, don’t hesitate to make it beautiful."></textarea>

          <div class="">
            <button type="submit" class="btn">Tag Service</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of individual  env -->
  {% endfor %}
</div>
<script>
  var __env = {{ env_json|safe }};
  var __token = "{{ token|safe }}";
</script>
{% endblock %}
{% block scripts %}
{{ [
'/js/common/util.js',
'/js/environment/data.js',
'/js/environment/ui.js',
'/js/environment/environment.js'
]|js_script|safe }}
{% endblock %}