{% macro render_job_failure(queued_item) -%}
    Hi there.</br></br>

    {% if queued_item['job_type'] == 'push_to_cheeseprism' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to build
        <strong>{{ queued_item['package_name'] }}</strong> with the version number
        <strong>{{ queued_item['version'] }}</strong>.
    {% elif queued_item['job_type'] == 'cycle_services' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to cycle service
        <strong>{{ queued_item['service'] }}</strong>.
    {% elif queued_item['job_type'] == 'push_service_environment' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to release service
        <strong>{{ queued_item['service_name'] }}</strong>.
    {% endif %}

    </br><br />

    Below is the error log:
    </br>

    <pre><code>
    {% if log: %}
         {{ log }}
    {% endif %}
    </code></pre>

{%- endmacro %}

{% if job_dict: %}
    {{ render_job_failure(job_dict) }}
{% endif %}