{% macro render_job_failure(queued_item) -%}
    Hi {{ user['username'] }}!</br></br>

    Unfortunately, Doula
    {% if queued_item['job_type'] == 'push_to_cheeseprism' %}
        failed to release <strong>{{ queued_item['version'] }}</strong>
        of <strong>{{ queued_item['branch'] }}</strong>
        at <strong>{{ queued_item['remote'] }}</strong>.
    {% elif queued_item['job_type'] == 'cycle_services' %}
        Failed to cycle service
        <strong>{{ queued_item['service'] }}</strong> on
        <strong>{{ queued_item['site'] }}</strong>.
    {% elif queued_item['job_type'] == 'push_service_environment' %}
        Failed to release service
        <strong>{{ queued_item['service_name'] }}</strong> on
        <strong>{{ queued_item['site_name_or_node_ip'] }}</strong>.
    {% endif %}

    </br><br />

    Here are the logs:</br>

    <pre><code>
    {% if log: %}
         {{ log }}
    {% endif %}
    </code></pre>

{%- endmacro %}

{% if job_dict: %}
    {{ render_job_failure(job_dict) }}
{% endif %}