{% macro render_job_failure(queued_item) -%}
    Hi there.</br></br>

    {% if queued_item['job_type'] == 'build_new_package' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to build
        <strong>{{ queued_item['package_name'] }}</strong> with the version number
        <strong>{{ queued_item['version'] }}</strong>.
    {% elif queued_item['job_type'] == 'cycle_service' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to cycle service
        <strong>{{ queued_item['service'] }}</strong> on
        <strong>{{ queued_item['site'] }}</strong>.
    {% elif queued_item['job_type'] == 'release_service' %}
        <strong>{{ queued_item['user_id'] }}'s</strong> job failed to release service
        <strong>{{ queued_item['service_name'] }}</strong> on
        <strong>{{ queued_item['site'] }}</strong>.
    {% endif %}

    <span>
        Job scheduled
        <strong>
        <time>
            <a id="{{queued_item['id']}}" href="http://doula.corp.surveymonkey.com/queue#{{queued_item['id']}}">
            {{ date_and_time }}
            </a>
        </time>
        </strong>
    </span>

    </br><br />

    Below is the error log:
    </br>

    <pre><code>
    {% if log: %}
         {{ log }}
    {% endif %}
    </code></pre>

{%- endmacro %}

{% if job_dict: %}
    {{ render_job_failure(job_dict) }}
{% endif %}