{% extends 'layouts/base.html' %}
{% block content %}
<div class="title-bar clearfix">
  <h2>Test Sites</h2>
</div>
<ul class="sm-list unstyled">
  {% if sites_count > 0 %}
    {% for name, site in sites.iteritems()|sort %}
    {% if name|show_sites_not_on_blacklist(username) %}
      <li class="site-title">
        <a href="/sites/{{ site.name_url }}">
          <strong class="site-title">{{ site.name|upper }}</strong>
        </a>
      </li>
    {% endif %}
    {% endfor %}
  {% else %}
    <li>
      <h3>No sites registered</h3>
    </li>
  {% endif %}
</ul>


{% endblock %}
{% block scripts %}
{{ [
'/js/site/index.js'
]|js_script|safe }}
{% endblock %}