{% extends 'layouts/base.html' %}
{% block content %}
<div class="title-bar clearfix">
  <h2>
    <a href="/sites">Sites</a> /
    <a href="/sites/{{site.name_url}}">{{ site.name }}</a>
  </h2>
  {% if user['admin'] %}
  <ul>
    <li>
      {% if site.is_locked() %}
      <a id="lock-site" class="btn sm-btn locked" href="#" style="float: left;">
        <i class="icon-lock icon-black"></i>
        Unlock Site
      </a>
      {% else %}
      <a id="lock-site" class="btn sm-btn unlocked" href="#" style="float: left;">
        <i class="icon-lock icon-black"></i>
        Lock Site
      </a>
      {% endif %}
    </li>
  </ul>
  {% elif site.is_locked() %}
  <ul>
    <li>
      <a id="lock-site" class="btn sm-btn disabled locked" href="#" style="float: left;">
        <i class="icon-lock icon-black"></i>
        Site Locked
      </a>
    </li>
  </ul>
  {% endif %}
</div>

<div class="filter group">
  <form id="filter-form" class="form-search" action="#" onsubmit="return false;">
    <div class="input-append">
      <input id="filter" placeholder="Filter Services" type="text" class="span3 search-query">
      <a id="clear" class="btn sm-btn" href="#"
      rel="tooltip" data-placement="bottom" data-original-title="Seperate multiple searches by commas, e.g. billweb, anonweb">
        <i class="icon-remove icon-black"></i>
        Clear
      </a>
    </div>
  </form>
</div>

<div class="accordion group" id="sites-accordion">

  {% for key_val_pair in site.services|dictsort %}
  {% set service = key_val_pair[1] %}

  <div class="accordion-group filterable" data-filter-data="{{ service.name }}" >

    <div class="accordion-heading group service-title-bar">
      <span id="link_{{ service.name_url }}"
      class="accordion-toggle accord-title"
      title="{{ service.get_status()|get_friendly_status_explanation }}"
      rel="tooltip">
        <span class="{{ service.get_status()|get_status_class }}"></span>
        {{ service.name }}
      </span>
      <span class="service-title-last-updated hide">
        Last Release October 12th, 2012
      </span>
    </div>

    <div style="display: block;" class="group">
      <a href="/sites/{{ site.name_url }}/{{ service.name_url }}" class="admin-action-link accord-link ">
        Admin Actions
      </a>

      <a href="/sites/{{ site.name_url }}/{{ service.name_url }}/details"
      class="accord-link service-details-link">
        Tag For Release
      </a>
    </div>

  </div>
  <!-- end of individual site -->
  {% endfor %}
</div>
<script>
  var __site = {{ site_json|safe }};
  var __token = "{{ token|safe }}";
</script>
{% endblock %}
{% block scripts %}
{{ [
'/js/common/util.js',
'/js/site/data.js',
'/js/site/ui.js',
'/js/site/site.js'
]|js_script|safe }}
{% endblock %}