{% extends 'layouts/base.html' %}
{% block content %}
<div class="title-bar clearfix">
  <h2>
    <a href="/sites">Sites</a> /
    <a href="/sites/{{site.name_url}}">{{ site.name }}</a>
  </h2>
</div>
<div class="accordion group" id="sites-accordion">

  {% for key_val_pair in site.services|dictsort %}
  {% set service = key_val_pair[1] %}

  <div class="accordion-group">
    <div class="accordion-heading group">
      <a id="link_{{ service.name_url }}" class="accordion-toggle accord-title"
      title="{{ service.get_status()|get_friendly_status_explanation }}" rel="tooltip"
      data-parent="#sites-accordion" href="#collapse_{{ service.name_url }}"
      {% if service.status.startswith('change_to') %}
        data-toggle="collapse"
      {% else %}
        data-toggle="do_not_collapse"
      {% endif %} >
        <span class="{{ service.get_status()|get_status_class }}"></span>
        {{ service.name }}
      </a>

      <a href="/sites/{{ site.name_url }}/{{ service.name_url }}" class="accord-link">
        Release Actions
      </a>

      <a href="/sites/{{ site.name_url }}/{{ service.name_url }}/details"
      class="accord-link">
        Service Details
      </a>
    </div>

    <div id="collapse_{{ service.name_url }}" class="accordion-body collapse">
      <div class="accordion-inner">
        <form id="form_{{ service.name_url }}" class="well">
          <label>Tag</label>
          <input id="tag_{{ service.name_url }}" value="{{ service.next_version() }}" class="input-xlarge" type="text" />
          <span class="instruct">Last tag: <strong>{{ service.last_tag.name }}</strong></span>
          <label>Commit Message:</label>
          <textarea class="input-xlarge" id="msg_{{ service.name_url }}" cols="40" rows="5" required></textarea>

          <div class="">
            <button type="submit" class="btn">Tag Service</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of individual site -->
  {% endfor %}
</div>
<script>
  var __site = {{ site_json|safe }};
  var __token = "{{ token|safe }}";
</script>
{% endblock %}
{% block scripts %}
{{ [
'/js/common/util.js',
'/js/site/data.js',
'/js/site/ui.js',
'/js/site/site.js'
]|js_script|safe }}
{% endblock %}