{% extends 'layouts/base.html' %}
{% import 'queue/queued_item.html' as queued_item_tmpl %}

{% block content %}
<h2>Queue</h2>
<ul class="sort_by unstyled">
    <li><a href="/queue?sort_by=all">all</a></li>
    <li><a href="/queue?sort_by=queued">queued</a></li>
    <li><a href="/queue?sort_by=complete">complete</a></li
    <li><a href="/queue?sort_by=failed">failed</a></li>
</ul>

<div class="queued_items" data-last-updated="{{ last_updated }}">
    <div class="latest_notifications alert">
    </div>
    {% for queued_item in queued_items %}
        {{ queued_item_tmpl.render_queued_item(queued_item) }}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ [
'/js/common/util.js',
'/js/site/queue.js'
]|js_script|safe }}
{% endblock %}