{% macro render_queued_item(queued_item) -%}
    <div data-id={{ queued_item['id'] }}
         class="queued_item alert
         {% if queued_item['status'] == 'queued' %}
             alert-info
         {% elif queued_item['status'] == 'complete' %}
             alert-success
         {% elif queued_item['status'] == 'failed' %}
             alert-danger
         {% endif %}
          accordion-group">
        <div class="accordion-heading like-a-link" data-toggle="collapse" data-target="#item_{{ queued_item['id'] }}">
            {% if queued_item['job_type'] == 'push_to_cheeseprism' %}
                {% if queued_item['status'] == 'failed' %}
                    Failed to release <strong>{{ queued_item['version'] }}</strong>
                    of <strong>{{ queued_item['branch'] }}</strong>
                    at <strong>{{ queued_item['remote'] }}</strong>
                {% elif queued_item['status'] == 'complete' %}
                    Pushed version <strong>{{ queued_item['version'] }}</strong>
                    of <strong>{{ queued_item['branch'] }}</strong>
                    at <strong>{{ queued_item['remote'] }}</strong>
                {% elif queued_item['status'] == 'queued' %}
                    Releasing version <strong>{{ queued_item['version'] }}</strong>
                    of <strong>{{ queued_item['branch'] }}</strong>
                    at <strong>{{ queued_item['remote'] }}</strong>
                {% endif %}
            {% elif queued_item['job_type'] == 'cycle_services' %}
                {% if queued_item['status'] == 'failed' %}
                    Failed to cycle service <strong>{{ queued_item['service'] }}</strong>
                {% elif queued_item['status'] == 'complete' %}
                    Finished cycling <strong>{{ queued_item['service'] }}</strong>
                {% elif queued_item['status'] == 'queued' %}
                    Waiting to cycle <strong>{{ queued_item['service'] }}</strong>
                {% endif %}
            {% elif queued_item['job_type'] == 'push_service_environment' %}
                {% if queued_item['status'] == 'failed' %}
                    Failed to release service <strong>{{ queued_item['service_name'] }}</strong>
                {% elif queued_item['status'] == 'complete' %}
                    Finished releasing service <strong>{{ queued_item['service_name'] }}</strong>
                {% elif queued_item['status'] == 'queued' %}
                    Waiting to release service <strong>{{ queued_item['service_name'] }}</strong>
                {% endif %}
            {% endif %}
        </div>
        <div id="item_{{ queued_item['id'] }}" class="logs accordion-body collapse">
            {{ queued_item['log']|safe }}
        </div>
    </div>
{%- endmacro %}

{% if queued_item: %}
    {{ render_queued_item(queued_item) }}
{% endif %}