{% extends "base.html" %}
{% block header %}
<div class="header">
    <h2>Applications on {{ site.name }}</h2>
</div>
{% endblock %}

{% block container %}
<div id="applications" class="row application">
  <div class="span1 checkbox-actions">
      <label for="selectAll">Select All</label>
      <input id="selectAll" type="checkbox" value="check" group="applications">
  </div>
  <div class="span2 application-name">
    <h3>Application</h3>
  </div>
  <div class="span9">
  </div>
</div>

{% for application in applications %}
    {% include 'site/application.html' %}
{% endfor %}

{# Bottom grid #}

<br />
<div class="row application">
  <div class="span1 checkbox-actions">
      
  </div>
  <div class="span2 application-name">
    
  </div>
  <div class="span9" style="float: right;">
      <div class="actions">
        <button id="tag_selected" class="btn btn-large btn-primary" value="">Tag Selected</button>
        <button id="tag_deployment" value=""
            class="btn btn-large btn-primary {% if not is_ready_for_release%}disabled{% endif %}">Tag for Deployment</button>
      </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var __apps = {{ applications_as_json|safe }};
    </script>
    
    {{ ['/js/lib/jquery.js', '/js/lib/bootstrap-dropdown.js', '/js/site/ui.js', '/js/site/site.js']|js_script|safe }}
{% endblock %}