{% extends 'layouts/base.html' %}
{% block content %}
<div>
    <h2>{{ request.user['username'] }}'s settings</h2>
    <p>Email: {{ request.user['email'] }}</p>
    <form class="well">
        <b>Notify Me:</b>
        <label for="notify_me">
            <input type="radio" name="notify_me">
            Always
        </label>
        <label for="notify_me">
            <input type="radio" name="notify_me">
            On Failure
        </label>
        <label for="notify_me">
            <input type="radio" name="notify_me">
            Never
        </label>
    </form>
</div>
{% endblock %}