{% extends 'layouts/base.html' %}
{% block content %}
<div>
    <div class="title-bar clearfix">
        <h2>Settings</h2>
    </div>

    <form>
        <p>Hi <strong>{{ request.user['username'] }}</strong>! Doula will send all email notifications to your Github Enterprise email <strong>{{ request.user['email'] }}</strong>.</p>

        <p><b>Notify me about a job:</b></p>
        {% set notify_me = request.user['settings']['notify_me'] %}
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'always' else '' }}
            type="radio" name="notify_me" value="always">
            Always
        </label>
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'failure' else '' }}
            type="radio" name="notify_me" value="failure">
            On failure
        </label>
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'never' else '' }}
            type="radio" name="notify_me" value="never">
            Never
        </label>

        <hr />

        <!-- subscribe to individual services
        you can subscribe to an mt environment or to a service
         -->
        <label>
            You can subscribe to notifications to any of the sites and services. Subscribe by selecting the services you want notifications from from the grid.
        </label>
        <input type="text" placeholder="Filter sites and services" />

        <ul class="search-list">
        {% for ss in sites_and_services %}
        <li class="">{{ss}}</li>
        {% endfor %}
        </ul>

    </form>
</div>
{% endblock %}

{% block scripts %}
{{ [
'/js/common/util.js',
'/js/settings/settings.js'
]|js_script|safe }}
{% endblock %}