{% extends 'layouts/base.html' %}
{% block content %}
<div>
    <h2>{{ request.user['username'] }}'s settings</h2>
    <p>Email: {{ request.user['email'] }}</p>
    <form class="well">
        <b>Notify Me:</b>
        {% set notify_me = request.user['settings']['notify_me'] %}
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'always' else '' }}
            type="radio" name="notify_me" value="always">
            Always
        </label>
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'failure' else '' }}
            type="radio" name="notify_me" value="failure">
            On Failure
        </label>
        <label for="notify_me">
            <input
            {{ 'checked' if notify_me == 'never' else '' }}
            type="radio" name="notify_me" value="never">
            Never
        </label>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ [
'/js/common/util.js',
'/js/site/settings.js'
]|js_script|safe }}
{% endblock %}