{% extends 'wireframes/templates/layouts/base.html' %}
{% block content %}
<div>
    <h2>Jayd3e's Settings</h2>
    <p>Email: jd.dallago@gmail.com</p>
    <form class="well">
        Notify Me:
        <label for="notify_me">
            <input type="radio" name="notify_me">
            Always
        </label>
        <label for="notify_me">
            <input type="radio" name="notify_me">
            On Failure
        </label>
        <label for="irc">
            <input type="checkbox" name="irc"/>
            Notify me on IRC
        </label>
    </form>
</div>
{% endblock %}