body {
	margin: 25px 0px;
	background: url(/images/noise.jpg);
	overflow-y: scroll;
}

.box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-o-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.rounded-corner {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.container {
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

@sm-green: #A9BD38;
@sm-light-green: #b1c639;
@sm-light-blue: #85C3C6;
@sm-blue: #79b5b7;

.content {
	.box-shadow;
	.rounded-corner;
	padding: 10px 20px;
	height:100%; /* IE6: treaded as min-height*/
	min-height: 400px; /* real browsers */
	background-color: white;

	a {
		color: #00898B;
	}

	/* BUTTONS */
	.sm-btn {
		color: #333;
	}

	.sm-btn-success {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		color: white;
		background-color: @sm-green;
		background-image: -ms-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@sm-light-green), to(@sm-green));
		background-image: -webkit-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -o-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -moz-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: linear-gradient(top, @sm-light-green, @sm-green);
	}

	.sm-btn-primary {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		color: white;
		background-color: @sm-light-blue;
		background-image: -ms-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@sm-light-blue), to(@sm-blue));
		background-image: -webkit-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -o-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -moz-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: linear-gradient(top, @sm-light-blue, @sm-blue);
	}
}

.title {
	h1, h2, h3, h4, h5 {
		margin: 0px 0px 10px 0px;
	}
}

.tag-app-form-title {
	margin: 0px 0px 10px 0px;
}

ul.sm-list {
	li {

		margin: 10px 0px;
		line-height: 100%;
		font-size: 16px;
		cursor: pointer;
	}
}

.dropdown-menu {
    .unstyled {
        margin-bottom: 0px;
    }
}

.navbar a.brand {
	color: #A9BD38;
	font-weight: bold;
}

div.section {
	margin: 10px 0px;
}

.smwell {
	min-height: 20px;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #daede4;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* TABLE */

td a.btn {
	margin: 0px 0px 9px 15px;
}

// Queue
.logs {
    margin-top: 10px;
}

.sm-accordion-inner {
    margin-top: 10px;
}

// Package
.dropdown-menu {
    padding: 5px;
}

/* STATUS STATES */

.accord-title {
	float: left;
}

.accord-link {
	float: right;
	margin: 10px 20px 0px 0px;
}

@black-soft: #232323;

[class^="status"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border-radius: 50%;
	margin: 0 7px 0 0;
	font: 0/0 a;
}

.status-unknown {
	background: #B0A5AA;
	box-shadow: inset 0 5px 5px #B0A5AA, 0 0 20px 2px #B0A5AA, 0 0 2px 1px #232323;
}

.status-tagged {
  background: #d8eb00;
  box-shadow: inset 0 5px 5px #adf000, 0 0 20px 2px #adf000, 0 0 2px 1px @black-soft;
}

.status-unknown {
  background: #B0A5AA;
  box-shadow: inset 0 5px 5px #B0A5AA, 0 0 20px 2px #B0A5AA, 0 0 2px 1px @black-soft;
 }

.status-deployed {
  background: #00A5EB;
  box-shadow: inset 0 5px 5px #00D0EB, 0 0 20px 2px #00D0EB, 0 0 2px 1px @black-soft;
}

.status-changed {
  background: #ff6000;
  box-shadow: inset 0 5px 5px #ffb85b, 0 0 20px 2px #ffb85b, 0 0 2px 1px @black-soft;
}

.status-error {
  background: #ff0000;
  box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px @black-soft;
  -webkit-animation: pulse 0.7s infinite alternate;
  -moz-animation: pulse 0.7s infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px #232323; }

  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px #232323; } }

@-moz-keyframes pulse {
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px #232323; }

  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px #232323; } }

a.side_tab {
	.rounded-corner;
	background-color: #609C9D;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;

	position: fixed;
  bottom: -80px;
  left: 100%;
  margin-left: -250px;
  height: 92px;
	z-index: 9999;
}

/* progress bar related */
#progress_bar {
	position: absolute;
  bottom: 50px;
  right: 35%;
  width: 400px;
  margin-left: -200px;
	z-index: 9999999;
	display: none;
}