@import "code.less";

/* HTML ELEMENTS */

body {
	background: url(/images/noise.jpg);
	font-size: 13px;
	line-height: 18px;
	margin: 25px 0px;
	overflow-y: scroll;
}

/* END HTML ELEMENTS */

/* COMMON MIXINS AND VARIABLES */

@sm-green: #A9BD38;
@sm-light-green: #b1c639;
@sm-light-blue: #85C3C6;
@sm-blue: #79b5b7;

.box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-o-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.rounded-corner {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/* END COMMON MIXINS */

.container {
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

.avatar {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    border-radius: 3px;
    border: 0px;
    margin: -5px 5px 0px 0px;
}

.content {
	.box-shadow;
	.rounded-corner;
	padding: 10px 20px;
	height:100%; /* IE6: treaded as min-height*/
	min-height: 500px; /* real browsers */
	background-color: white;

	a {
		color: #00898B;
	}

	/* BUTTONS */
	.sm-btn {
		color: #333;
	}

	.sm-btn-success {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		color: white;
		background-color: @sm-green;
		background-image: -ms-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@sm-light-green), to(@sm-green));
		background-image: -webkit-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -o-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: -moz-linear-gradient(top, @sm-light-green, @sm-green);
		background-image: linear-gradient(top, @sm-light-green, @sm-green);
	}

	.sm-btn-primary {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		color: white;
		background-color: @sm-light-blue;
		background-image: -ms-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@sm-light-blue), to(@sm-blue));
		background-image: -webkit-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -o-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: -moz-linear-gradient(top, @sm-light-blue, @sm-blue);
		background-image: linear-gradient(top, @sm-light-blue, @sm-blue);
	}
}

/* navigation bar */
.navbar .nav {
	li a {
		padding-top: 12px;
		padding-bottom: 8px;
		font-size: 16px;
		text-shadow: none;
		line-height: 19px;
	}
}

/* overriding bootstrap default colors */

#mainnav {
	.dropdown-menu li > a:hover,
	.dropdown-menu .active > a,
	.dropdown-menu .active > a:hover {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #609C9D;
	}

	.dropdown-menu a.active {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #6eafaf;
	}

	.nav li.active {
		color: white;
		text-decoration: none;
		background-color: #222;
	}
}

/* Title actions */

.title-bar {
	background: #F7F7F9;
	border-bottom: 1px solid #EEE;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: -10px -20px;
	margin-bottom: 15px;
	padding: 10px 20px 0px 20px;

	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;

	a {
		color: #383838;
	}

	h2 {
		float: left;
		font-size: 22px;
		margin: 0px 0px 10px 0px;
		word-spacing: 0px;
	}

	ul {
		margin: 3px 0px 0px 0px;
		float: right;
	}

	li {
		display: inline;
		padding: 5px 0px 10px 3px;
		list-style-type: none;
	}
}

.tag-app-form-title {
	margin: 0px 0px 10px 0px;
}

ul.sm-list {
	li {
		margin: 10px 0px;
		line-height: 100%;
		font-size: 16px;
		cursor: pointer;
	}
}

.dropdown-menu {
    .unstyled {
        margin-bottom: 0px;
    }
}

.navbar a.brand {
	color: #A9BD38;
	font-weight: bold;
}

div.section {
	margin: 10px 0px;
}

/* RELEASE RELATED */
li.release {
	margin: 0px;
	padding: 0px;
}

a.release {
	margin: 2px 0px;
	padding: 4px 15px 4px;
}

/* warnings that happen for release changes */

.warning {
	color: #C0920A;
}

input.warning {
	color: #C0920A;
	border-color: #C0920A;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* TABLE */

td a.btn {
	margin: 0px 0px 9px 15px;
}

/* GIT INFO BLOCK */

.git-info-row {
	.hidden {
		padding: 0px;
		border: 0px;
	}

	.shown {
		padding: 8px 0px;
		border-top: 1px solid #DDD;
	}
}

h3.commit-group-heading {
	margin: 15px 0 0 0;
	padding: 5px 8px;
	font-size: 13px;
	color: #3A505B;
	text-shadow: 0 1px white;
	background: #E6F1F6;
	border: 1px solid #C5D5DD;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.commit-group {
	list-style-type: none;
	margin: 0 0 15px 0;
	background: #F7FBFC;
	border: 1px solid #C5D5DD;
	border-top: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.commit-group-item {
	position: relative;
	padding: 8px 8px 8px 52px;
	border-top: 1px solid #E2EAEE;
}

.active-package {
	background: #FCF8E3 !important;
}

.commit-group-item:nth-child(2n+1) {
	background: white;
}

.commit-group-item .gravatar {
	float: left;
	margin-left: -44px;
	border-radius: 4px;
}

.commit-group-item .commit-title {
	margin: 1px 0 1px 0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	width: 500px;

	a {
		color: #333;
	}
}

.commit-group-item .commit-links {
	position: absolute;
	top: 7px;
	right: 8px;
}

.commit-group-item .browse-button {
	float: right;
	clear: left;
	margin-top: 1px;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	color: #999;
}

.commit-group-item .gobutton {
	float: left;
	height: 22px;
	padding: 0 7px;
	line-height: 22px;
	font-size: 11px;
	color: #4E575B;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	background: #EFF6F9;
	background: -moz-linear-gradient(#EFF6F9,#DDECF3);
	background: -webkit-linear-gradient(#EFF6F9,#DDECF3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff6f9',endColorstr='#ddecf3')";
	border: 1px solid #CEDEE5;
	border-radius: 3px;
}

.commit-group-item:nth-child(2n+1) .gobutton {
	border-color: #D5DCDF;
	background: #F2F5F6;
	background: -moz-linear-gradient(#F2F5F6,#E3EAED);
	background: -webkit-linear-gradient(#F2F5F6,#E3EAED);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6',endColorstr='#e3eaed')";
}

.commit-group-item .authorship {
	font-size: 12px;
	color: #888;
}

.commit-group-item .authorship .author-name {
	color: #444;
}

.commit-group-item .authorship {
	font-size: 12px;
	color: #888;
}

.commit-group-item .package-info {
	font-size: 12px;
	font-weight: bold;
	color: #888;
}

/* Queue */

.logs {
    margin-top: 10px;
}

.sm-accordion-title {
	a {
		padding: 8px 5px;
		font-size: 13px;
		line-height: 18px;
		display: block;
	}
}

.sm-accordion-inner {
    margin-top: 10px;
}

/* Package */
.dropdown-menu {
    padding: 5px;
}

/* STATUS STATES */

.accord-title {
	float: left;
}

.accord-link {
	float: right;
	margin: 10px 20px 0px 0px;
}

@black-soft: #232323;

[class^="status"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border-radius: 50%;
	margin: 0 7px 0 0;
	font: 0/0 a;
}

.status-unknown {
	background: #B0A5AA;
	box-shadow: inset 0 5px 5px #B0A5AA, 0 0 20px 2px #B0A5AA, 0 0 2px 1px #232323;
}

.status-tagged {
  background: #d8eb00;
  box-shadow: inset 0 5px 5px #adf000, 0 0 20px 2px #adf000, 0 0 2px 1px @black-soft;
}

.status-unknown {
  background: #B0A5AA;
  box-shadow: inset 0 5px 5px #B0A5AA, 0 0 20px 2px #B0A5AA, 0 0 2px 1px @black-soft;
 }

.status-deployed {
  background: #00A5EB;
  box-shadow: inset 0 5px 5px #00D0EB, 0 0 20px 2px #00D0EB, 0 0 2px 1px @black-soft;
}

.status-changed {
  background: #ff6000;
  box-shadow: inset 0 5px 5px #ffb85b, 0 0 20px 2px #ffb85b, 0 0 2px 1px @black-soft;
}

.status-error {
  background: #ff0000;
  box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px @black-soft;
  -webkit-animation: pulse 0.7s infinite alternate;
  -moz-animation: pulse 0.7s infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px #232323; }

  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px #232323; } }

@-moz-keyframes pulse {
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px #232323; }

  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px #232323; } }

a.side_tab {
	.rounded-corner;
	background-color: #609C9D;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;

	position: fixed;
  	bottom: -80px;
  	left: 100%;
  	margin-left: -220px;
  	height: 92px;
	z-index: 9999;
}

/*
*
* Queue Pages
*
*/

.sort_by {
    overflow: auto;
    margin-bottom: 10px;

    li {
        float: left;
        margin-right: 8px;
    }

    a.active {
		font-weight: bold;
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		white-space: nowrap;
		background-color: #609C9D;
		padding: 1px 5px 2px;
		vertical-align: baseline;
		border-radius: 3px;
    }
}

.queued_items {
	margin-bottom: 15px;

    .latest_notifications {
        margin-bottom: 5px;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    .like-a-link:hover {
    	cursor: pointer;
        text-decoration: underline;
    }

    .queued_item {
        margin-bottom: 5px;

        .logs {
            margin-top: 0px;
            overflow-x: auto;
        }
    }
}

.alert p {
	margin-bottom: 0px;
}

/* release package styles */
.errors {
	color: #DF0000;
	margin: -25px 15px 8px 15px;
	padding: 3px 17px 3px 17px;
	background: #FFDFDF;

	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

	h3 {
		margin-bottom: 10px;
	}
	li {
		list-style: circle;
	}
}

/* End Queue Pages */

/* settings */

ul.search-list {
	margin: 0px;
	width: 100%;
	list-style-type: none;

	li {
		background-color: #F7F7F9;
		border: 1px solid #DDD;
		float: left;
		font-size: 16px;
		height: 18px;
		margin: 0px 2px 3px 0px;
		padding: 4px 3px;
		width: 23%;
	}

	li:hover {
		color: white;
		cursor: pointer;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #79afaf;
	}

	li.active {
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #6EAFAF;
	}
}

/* Progress Bar */

section {
	width: 400px;
	margin: 40px auto;
}

@-webkit-keyframes gradientMove {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 100px 0px;
	}
}

@-webkit-keyframes reload {
	0% {
		width: 20px;
	}

	95% {
		width: 400px;
	}

	100% {
		width: 20px;
	}
}

@-moz-keyframes gradientMove {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 100px 0px;
	}
}

@-moz-keyframes reload {
	0% {
		width: 20px;
	}

	95% {
		width: 400px;
	}

	100% {
		width: 20px;
	}
}

.progress-bar {
	width: 400px;
	background: #1a1e22;
	padding: 3px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: inset 0px 1px 1px 0px black, 0px 1px 1px 0px #36393F;
	-moz-box-shadow: inset 0px 1px 1px 0px black, 0px 1px 1px 0px #36393F;
	box-shadow: inset 0px 1px 1px 0px black, 0px 1px 1px 0px #36393F;
}

.polyfill {
	width: 400px;
	height: 25px;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(150,199,66,0)), color-stop(39%,rgba(150,199,66,0)), color-stop(40%,rgba(150,199,66,0.65)), color-stop(63%,rgba(150,199,66,0.65)), color-stop(64%,rgba(150,199,66,0)), color-stop(100%,rgba(150,199,66,0))) #bedc78;
	background: -moz-linear-gradient(-45deg,  rgba(150,199,66,0) 0%, rgba(150,199,66,0) 43%, rgba(150,199,66,0.65) 44%, rgba(150,199,66,0.65) 57%, rgba(150,199,66,0) 58%, rgba(150,199,66,0) 100%) #bedc78;
	background: -o-linear-gradient(-45deg,  rgba(150,199,66,0) 0%,rgba(150,199,66,0) 43%,rgba(150,199,66,0.65) 44%,rgba(150,199,66,0.65) 57%,rgba(150,199,66,0) 58%,rgba(150,199,66,0) 100%) #bedc78;
	background: -ms-linear-gradient(-45deg,  rgba(150,199,66,0) 0%,rgba(150,199,66,0) 43%,rgba(150,199,66,0.65) 44%,rgba(150,199,66,0.65) 57%,rgba(150,199,66,0) 58%,rgba(150,199,66,0) 100%) #bedc78;
	background: linear-gradient(135deg,  rgba(150,199,66,0) 0%,rgba(150,199,66,0) 43%,rgba(150,199,66,0.65) 44%,rgba(150,199,66,0.65) 57%,rgba(150,199,66,0) 58%,rgba(150,199,66,0) 100%) #bedc78;
	background-size: 35px 25px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 3px 0px #F2F2F2;
	-moz-box-shadow: inset 0px 1px 3px 0px #F2F2F2;
	box-shadow: inset 0px 1px 3px 0px #F2F2F2;

	-webkit-animation-name: gradientMove, reload;
	-webkit-animation-duration: .8s, 8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: gradientMove, reload;
	-moz-animation-duration: .8s, 8s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: both;
	-moz-animation-timing-function: linear;
}
