<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>

  <!-- styles -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/colorbox.css">
</head>

<body>
  <div id="content">
  <header>
    <h1>
      Doula
    </h1>
  </header>
  
  {% block nav %}
  {% endblock %}

  {% include 'feedback_tab.html' %}
  {% block content %}
  {% endblock %}
  
  <div id="footer">
    <div id="progress-indicator">
      <h4 id="progress-indicator-message">Message of progress</h4>
    </div>
  </div>
  </div>
</body>

</html>