<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Doula Web</title>

    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/doula.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
        <div class="header">
            <h2>Applications on [MT1]</h2>
        </div>
      <br />
      
      <div id="applications" class="row application">
        <div class="span1 checkbox-actions">
            <label for="selectAll">Select All</label>
            <input id="selectAll" type="checkbox" value="check" group="applications">
        </div>
        <div class="span2 application-name">
          <h3>Application</h3>
        </div>
        <div class="span9">
        </div>
      </div>
      
      {% for application in applications %}
      <div id="applications" class="row application">
        <div class="span1 checkbox-actions">
            <input id="checkbox_select_{{ application.id }}" type="checkbox" value="check" group="applications">
        </div>
        <div class="span2 application-name {{ application.status }}">
          <h3>{{ application.name }}</h3>
        </div>
        <div class="span9">
          <div class="row details">
            <div class="">
                {% if application.status == 'unchanged' %}
                    {% set status = 'Unchanged' %}
                {% elif application.status == 'uncommitted_changes' %}
                    {% set status = 'Uncommitted Changes' %}
                {% elif application.status == 'change_to_config' %}
                    {% set status = 'Changes to Configuration' %}
                {% elif application.status == 'change_to_app_env' %}
                    {% set status = 'Change to Application Environment' %}
                {% endif %}
                <p>
                    <strong>Status:</strong> {{ status }}
                </p>
              {% for change in application.changes %}
              <p>{{ change }}</p>
              {% endfor %}
            </div>
            <div class="actions">
              {% if application.status == 'uncommitted_changes' %}
              <button class="btn btn-large btn-danger" value="Revert">Revert</button>
              {% endif %}
            </div>
          </div>
          <!-- /row -->
          <div class="row details">
            {% include 'tag_form.html' %}
          </div>
        </div>
      </div>
      {% endfor %}

      {# Bottom grid #}

      <br />
      <div class="row application">
        <div class="span1 checkbox-actions">
            
        </div>
        <div class="span2 application-name">
          
        </div>
        <div class="span9" style="float: right;">
            <div class="actions">
              <button id="tag_selected" class="btn btn-large btn-primary" value="">Tag Selected</button>
              <button class="btn btn-large btn-primary {% if not is_ready_for_release%}disabled{% endif %}" value="">Tag for Deployment</button>
            </div>
        </div>
      </div>
        {% include 'footer.html' %}
    </div>
    <!-- /container -->
    
    <!-- scripts -->
    {{ ['/js/jquery.js', '/js/doula.js']|js_script|safe }}
  </body>
</html>