<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Doula Web</title>

    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/doula.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <h2>Services on Survey Monkey</h2>
      <br />

      {% for service in services %}
      <div class="row">
        <div class="span1 checkbox-actions">
          <input type="checkbox" value="check" group="services">
        </div>
        <div class="span2 service-name {{ service.status }}">
          <h3>{{ service.name }}</h3>
        </div>
        <div class="span9">
          <div class="row">
            <div class="details">
              {% for change in service.changes %}
              <p>{{ change }}</p>
              {% endfor %}
            </div>
            <div class="actions">
              {% if service.status == 'notreadyforrelease' %}
              <button class="btn btn-large btn-danger" value="Revert">Revert</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {# Bottom grid #}

      <br />
      <div class="row">
        <div class="span1 checkbox-actions">
          <input id="selectAll" type="checkbox" value="check" group="services">
        </div>
        <div class="span2 service-name">
          
        </div>
        <div class="span9">
            <div class="actions">
              <button class="btn btn-large btn-primary" value="">Tag Selected</button>
              <button class="btn btn-large btn-primary" value="">Tag for Deployment</button>
            </div>
        </div>
      </div>
        {% include 'footer.html' %}
    </div>
    <!-- /container -->
    
    <!-- scripts -->
    {{ ['/js/jquery.js', '/js/doula.js']|js_script|safe }}
  </body>
</html>