{% extends 'base.html' %}
{% block nav %}
<nav>
    <a href="/">Home</a>
</nav>
{% endblock %}
{% block content %}
<div class="page-wrap">
<div class="main-mod">
  <h2 class="title-links"><a href="#">Package Management</a></h1>
  <p>Manage the packages on cheese prism and releases to monkey test environments.</p>
  <h2 class="title-links"><a href="/sites">Deployment Management</a></h1>
  <p>Manage deployments to production.</p>
</div>

</div>
{{ [
'/js/libs/global-min.js', 
'/js/libs/global-pro-min.js', 
'/js/libs/site-tabs.js',
'/js/home/home.js'
]|js_script|safe }}
{% endblock %}