{% extends 'base.html' %}
{% block nav %}
<nav>
  <a href="/">Home</a>
  <a href="/sites">Sites</a>
  <a href="/sites/{{ site.name_url }}">{{ site.name }}</a>
  <a href="/sites/{{ site.name_url }}/logs">Logs</a>
</nav>
{% endblock %}
{% block content %}
<div class="page-wrap">
  
<h1><span class="cap">{{ site.name }}</span> <span class="title">Logs</span></h1>

<div>
  <ul class="log-lists">
    {% if logs|length > 0 %}
    {% for log in logs %}
      <li>
      {% if log['action'] == 'deploy' %}
        {% set log_message = "marked <span class='cap'>" + log['application'] + "</span> as deployed" %}
      {% elif log['action'] == 'tag' %}
        {% set log_message = "tagged <span class='cap'>" + log['application'] + "</span>" %}
      {% endif %}

      <strong class='cap'>{{ log['user'] }}</strong> {{ log_message|safe }} on {{ log['time']|format_isodate }}.
      </li>
    {% endfor %}
    {% else %}
      <li>No logs exist.</li>
    {% endif %}
  </ul>
</div>

</div>
{% include 'error_dialog.html' %}
{% endblock %}