<form id="tag_form_{{application.id}}" class="hide">
    <label>Tag for <strong>{{ application.name }}</strong>:</label>
    <input type="text" class="span3" placeholder="Enter your tag…">
    
    <label>Commit Message:</label>
    <textarea class="commit input-xlarge" id="textarea" cols="50" rows="10"></textarea>
    
    <br />
    
    <button id="cancel_comment" type="submit" class="btn btn-large">Cancel</button>
    <button id="submit_comment" type="submit" class="btn btn-large btn-primary">Submit</button>
</form>