{% extends 'layouts/base.html' %}
{% import 'queue/queued_item.html' as queued_item_tmpl %}

{% block content %}
<div class="title-bar clearfix">
	<h2>
    <a href="/sites">Sites</a> /
    <a href="/sites/{{site.name_url}}">{{ site.name }}</a> /
    {{ service.name }}
  </h2>
  <ul>
    <li>
      <a id="cycle" class="btn sm-btn" href="#" style="float: left;">
        <i class="icon-repeat icon-black"></i>
        Cycle
      </a>
    </li>
    <li>
      <div class="btn-group" style="display: inline; float: right;">
        <a id="release-service" href="#" rel="popover" delay="500"
        title="Release Error" data-content="You must make a change to make new release."
        class="{% if site.is_locked() %}disabled{% endif %} btn sm-btn">
          {% if site.is_locked() %}
          <i class="icon-lock icon-black"></i> Site Locked
          {% else %}
          <i class="icon-arrow-up icon-black"></i> Release Service
          {% endif %}
        </a>
        <a class="btn sm-btn dropdown-toggle"
        data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul id="release-dropdown" class="dropdown-menu">
            {% if service.get_releases()|length > 0 %}
              {% for release in service.get_releases() %}
                <li class="release {% if loop.index == 1 %}active{% endif %}">
                  <a class="release" data-date="{{release.date}}" href="#">
                  {{release.date|relative_datetime}}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              <li class="release">
                No prior releases exist
              </li>
            {% endif %}
        </ul>
      </div>
    </li>
  </ul>
</div>

<div>

{% include 'services/mini-dashboard.html' %}

  <div class="accordion-group">
    <div class="accordion-heading group sm-accordion-title packages-title-bar">
      <a href="#" onclick="return false;" data-toggle="collapse"
      data-target="#sm_packages_table">
        <strong class="accord-strong">{{ service.name }}'s</strong> Survey Monkey Packages
      </a>
    </div>

  <div id="sm_packages_table" class="accordion-body in collapse">
    <div class="accordion-inner">
      <table class="table">
        <thead>
          <tr>
            <th>Package</th>
            <th>Version</th>
            <th> &nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <!-- our packages first, the ones with the github repo data -->
          {% for pckg in service.packages|dictsort %}
          {% set git_info = pckg[1].get_github_info() %}

          {% if git_info %}
          <tr>
            <td width="20%">
              <a href="#" onclick="return false;" rel="tooltip"
              title="Click to see the Git commit history"
              data-toggle="collapse"
              data-target="#{{ pckg[1].comparable_name }}_git_info">
              {{ pckg[1].name }}
            </a>
            </td>
            <td width="80%">
              <select id="pckg_select_{{ pckg[1].comparable_name }}"
              data-comparable-name="{{ pckg[1].comparable_name }}"
              data-name="{{ pckg[1].name }}"
              class="package-select">
                {% for version in pckg[1].get_versions()|sort(reverse=True, case_sensitive=False) %}
                  <option value="{{ version }}"
                  {% if pckg[1].version == version %}selected="selected"{% endif %} >
                    {{ version }}
                  </option>
                {% endfor %}
                {% if config.get('env') == 'dev' %}
                  <option value="">Remove Package</option>
                {% endif %}
              </select>
              <a class="btn sm-btn-success new-version-btn"
              data-comparable-name="{{ pckg[1].comparable_name }}"
              data-name="{{ pckg[1].name }}"
              href="#">
                <i class="icon-chevron-right icon-white"></i> Build New Package
              </a>
              <span id="pckg_select_msg_{{ pckg[1].comparable_name }}" class="help-block">
                Current version 1.4.5
              </span>
            </td>
          </tr>
          <tr class="git-info-row">
              <td colspan="2" class="hidden">
                <div id="{{ pckg[1].comparable_name }}_git_info"
                class="commit-accordion accordion-body collapse hide-on-load"
                style="display: none;">
                  {% include 'services/commits.html' %}
                </div>
              </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
   </div>
  </div>
  <!-- end sm_packages_table -->

  <!-- alextodo. pull out into it's own template -->

  <div class="accordion-group">
    <div class="accordion-heading group sm-accordion-title">
      <a href="#" onclick="return false;" data-toggle="collapse"
      data-target="#other_packages_table">
      <strong class="accord-strong">{{ service.name }}'s</strong> Other Python Packages
    </div>

    <div id="other_packages_table" class="accordion-body collapse hide-on-load"
    style="display: none;">
      <div class="accordion-inner">
        <table class="table">
          <thead>
            <tr>
              <th>Package</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for pckg in service.packages|dictsort %}
            {% if not pckg[1].get_github_info() %}
            <tr>
              <td width="20%">{{ pckg[1].name }}</td>
              <td width="80%">
                <select id="pckg_select_{{ pckg[1].comparable_name }}"
                data-comparable-name="{{ pckg[1].comparable_name }}"
                data-name="{{ pckg[1].name }}"
                class="package-select">
                  {% for version in pckg[1].get_versions()|sort(reverse=True, case_sensitive=False) %}
                    <option value="{{ version }}"
                    {% if pckg[1].version == version %}selected="selected"{% endif %} >
                      {{ version }}
                    </option>
                  {% endfor %}
                  {% if config.get('env') == 'dev' %}
                    <option value="">Remove Package</option>
                  {% endif %}
                </select>
                <span id="pckg_select_msg_{{ pckg[1].comparable_name }}" class="help-block">
                  Current version 1.4.5
                </span>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end package-accordion -->

<!-- all the packages on cheese prism not in this service -->
<div id="add-packages" class="modal hide">
  <!-- fill in -->
</div>
<div id="build-new-package-modal" class="modal hide" style="width: 575px;">
  <!-- fill in -->
</div>
{% endblock %}

{% block scripts %}
<script>
var __service = {{service_json|safe}};
var __releases = {{releases_json|safe}};
// alextodo. change the sortBy filter to status
// then change filter by user_id or something
var __queueFilters = {
  "site": "{{ site.name }}",
  "service": "{{ service.name }}",
  "jobs_started_after": {{jobs_started_after}},
  "sort_by": "all",
  "filter_by": "alljobs"
};
var __limitInitialQueueItems = true;
</script>
{{ [
'/js/common/util.js',
'/js/common/queue.js',
'/js/packages/packages.js',
'/js/services/service_data.js',
'/js/services/service_environment.js'
]|js_script|safe }}
{% endblock %}