<div class="accordion-group">

  <div class="accordion-heading group sm-accordion-title packages-title-bar">
    <a href="#" onclick="return false;" data-toggle="collapse"
    data-target="#sm_packages_table">
      <strong class="accord-strong">{{ service.name }}'s</strong> Survey Monkey Packages
    </a>
  </div>
<!--
alextodo. need to add the config thing drop down
will need the sha from the etc directory to compare if the thing is current or not.
do that next. once that is done

pull the latest data and create a release we can use to compare on the UI. update the code
that pull that data for each app env. pulling the manifest data too.

then do a smart diff on the UI
-->
<div id="sm_packages_table" class="accordion-body in collapse">
  <div class="accordion-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th> &nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- our packages first, the ones with the github repo data -->
        {% for pckg in service.packages|dictsort %}
        {% set git_info = pckg[1].get_github_info() %}

        {% if git_info %}
        <tr>
          <td width="20%">
            <a href="#" onclick="return false;" rel="tooltip"
            title="Click to see the Git commit history"
            data-toggle="collapse"
            data-target="#{{ pckg[1].comparable_name }}_git_info">
            {{ pckg[1].name }}
          </a>
          </td>
          <td width="80%">
            <select id="pckg_select_{{ pckg[1].comparable_name }}"
            data-comparable-name="{{ pckg[1].comparable_name }}"
            data-name="{{ pckg[1].name }}"
            class="package-select">
              {% for version in pckg[1].get_versions()|sort(reverse=True, case_sensitive=False) %}
                <option value="{{ version }}"
                {% if pckg[1].version == version %}selected="selected"{% endif %} >
                  {{ version }}
                </option>
              {% endfor %}
              {% if config.get('env') == 'dev' %}
                <option value="">Remove Package</option>
              {% endif %}
            </select>
            <a class="btn sm-btn-success new-version-btn"
            data-comparable-name="{{ pckg[1].comparable_name }}"
            data-name="{{ pckg[1].name }}"
            href="#">
              <i class="icon-chevron-right icon-white"></i> Build New Package
            </a>
            <span id="pckg_select_msg_{{ pckg[1].comparable_name }}" class="help-block">
              Current version 1.4.5
            </span>
          </td>
        </tr>
        <tr class="git-info-row">
            <td colspan="2" class="hidden">
              <div id="{{ pckg[1].comparable_name }}_git_info"
              class="commit-accordion accordion-body collapse hide-on-load"
              style="display: none;">
                {% include 'services/commits.html' %}
              </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
 </div>
</div>