<div id="mini-dashboard-detail-releases" class="hide mini-dashboard-detail {% if selected_release.production %}mini-dashboard-detail-prod{% endif %}">
  {% if selected_release %}

  {% if selected_release.date %}
    <p style="font-size: 115%; margin-top: 15px;">
      {% if selected_release.release_number > 0 %}
        Release <strong>#{{selected_release.release_number}}</strong> sent to <strong>{{ service.name }}</strong> on <strong>{{ site.name }}</strong> on {{selected_release.date|formatted_github_day_and_time}}.
      {% else %}
        Release sent to <strong>{{ service.name }}</strong> on <strong>{{ site.name }}</strong>  on {{selected_release.date|formatted_github_day_and_time}}.
      {% endif %}
    </p>

    {% if selected_release.production %}
    <p style="font-size: 115%;">
      <i class="icon-star"></i>
      Sent to production {{selected_release.date|formatted_github_day_and_time}}.
    </p>
    {% endif %}

    <br />
  {% endif %}

  {% set current_version_title = 'Current' %}
  {% set selected_version_title = 'Selected' %}
  {% include 'templates/parts/diff_releases.html' %}

  {% else %}
    <p>The last release date is <strong>unknown</strong>.</p>
  {% endif %}
</div>