<!-- config details -->
<div id="mini-dashboard-detail-config" class="hide mini-dashboard-detail">
  {% for node_name, node in service.nodes.iteritems() %}
    {% if is_config_up_to_date %}
      <p>
        View the latest
        <a href="http://code.corp.surveymonkey.com/config/{{ service.name_url }}"
        target="_blank">config files on Github</a>.
      </p>
    {% else %}
      <p>
        Node: <strong>{{ node.name }}</strong>
      </p>
      {% if node['config']['changed_files']|length > 0 %}
      <p>
        These files have been <strong>changed</strong>.

        <ul>
          {% for file in node['config']['changed_files'] %}
            <li>{{file}}</li>
          {% endfor %}
        </ul>
      </p>
      {% endif %}
      <p>
      <a href="http://code.corp.surveymonkey.com/config/{{ service.name_url }}/compare/{{node.config['commit']}}...{{node.config['latest_commit']}}"
        target="_blank">See the diff for these files on Github</a>.
      </p>
    {% endif %}

  {% endfor %}
</div>