<div id="mini-dashboard-detail-releases" class="hide mini-dashboard-detail {% if active_release.production %}mini-dashboard-detail-prod{% endif %}">
  {% if active_release %}

  <p style="font-size: 115%; margin-top: 15px;">
    {% if active_release.release_number > 0 %}
      Release <strong>#{{active_release.release_number}}</strong> sent to <strong>{{ service.name }}</strong> on <strong>{{ site.name }}</strong> {{active_release.date|relative_datetime}}.
    {% else %}
      Release sent to <strong>{{ service.name }}</strong> on <strong>{{ site.name }}</strong> {{active_release.date|relative_datetime}}.
    {% endif %}
  </p>
  {% if active_release.release_number > 0 %}
  <p style="font-size: 115%;">
    <i class="icon-star"></i>
    Sent to production {{active_release.date|relative_datetime}}.
  </p>
  {% endif %}

  <br />

  <table class="table table-bordered">
    <thead>
      <tr class="title">
        <th>Package Name</th>
        <th>Current Version</th>
        <th>New Version</th>
        <th>Compare View</th>
      </tr>
    </thead>
    <tbody>
      {% if diff['changed_packages'].keys()|length < 1 %}
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">No package changes</td>
        </tr>
      {% endif %}

      {% for name, package_diff in diff['changed_packages'].iteritems()|sort %}
        <tr>
          {% if package_diff['package'].get_github_info() %}
            <td>{{name}}</td>

            <td>
              <a target="_blank" href="http://code.corp.surveymonkey.com/devmonkeys/{{package_diff['package'].name}}/tree/v{{package_diff['service_version']}}">
                {{package_diff['service_version']}}
              </a>
            </td>

            <td>
              <a target="_blank" href="http://code.corp.surveymonkey.com/devmonkeys/{{package_diff['package'].name}}/tree/v{{package_diff['release_version']}}">
                {{package_diff['release_version']}}
              </a>
            </td>

            <td>
              <!-- TODO: the current version is not good enough. need to replace the dashes with underscores for tags. or just put them in the right place. -->
              <a target="_blank" href="http://code.corp.surveymonkey.com/devmonkeys/{{package_diff['package'].name}}/compare/v{{package_diff['service_version']}}...v{{package_diff['release_version']}}">
                {{package_diff['service_version']}}...{{package_diff['release_version']}}
              </a>
            </td>
          {% else %}
            <td>{{name}}</td>
            <td>{{package_diff['release_version']}}</td>
            <td>{{package_diff['service_version']}}</td>
            <td>&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}

      <tr class="title">
        <th>Config Files</th>
        <th>Current Commit</th>
        <th>New Commit</th>
        <th>Compare View</th>
      </tr>

      <tr>
        <!--
        Need the config commit date. the commit sha1.
        -->
        <td rowspan="2">&nbsp;</td>
        <td rowspan="2">
          <a target="_blank" href="http://code.corp.surveymonkey.com/config/{{service.name_url}}/commit/{{service.config['commit']}}">
          {{service.config['date']|formatted_github_day}}
          </a>
        </td>
        <td rowspan="2">
          <!-- alextodo. will need the config dir's name -->
          {% if active_release.sha1_etc %}
            <a target="_blank" href="http://code.corp.surveymonkey.com/config/{{service.name_url}}/commit/{{active_release.sha1_etc}}">
            {{active_release.sha1_etc}}
            </a>
          {% endif %}
        </td>
        <td>
          {% if active_release.sha1_etc %}
            <!-- alextodo. will need the config dir's name -->
            <a target="_blank" href="http://code.corp.surveymonkey.com/config/{{service.name_url}}/compare/{{service.config['commit']|truncate(7, true, "")}}...{{active_release.sha1_etc}}">
              {{service.config['commit']|truncate(7, true, "")}}...{{active_release.sha1_etc}}
            </a>
          {% else %}
            <a target="_blank" href="http://code.corp.surveymonkey.com/config/{{service.name_url}}/commit/{{service.config['commit']}}">
              {{service.config['commit']|truncate(7, true, "")}}
            </a>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  {% else %}
    <p>The last release date is <strong>unknown</strong>.</p>
  {% endif %}
</div>