<!-- last release details -->
{#
  old version of this stuff
<div id="mini-dashboard-detail-releases" class="hide mini-dashboard-detail">
  {% if last_release %}
    <p>
      This service was released
     <strong>{{last_release.date|relative_datetime}}</strong>.
    </p>

    {% if changed_packages.keys()|length > 0 %}
	    <p>These packages were changed:</p>

	    {% for package_name in changed_packages %}
		    <ul>
		    	<li>
		    		<a target="_blank" href="http://code.corp.surveymonkey.com/devmonkeys/{{ service.name }}/commits/v{{changed_packages[package_name]}}">{{package_name}} version {{changed_packages[package_name]}}</a>
		    	</li>
		    </ul>
	    {% endfor %}
    {% endif %}
  {% else %}
    <p>The last release date is <strong>unknown</strong>.</p>
  {% endif %}
</div>
#}

<!-- last release details -->
<!--
if prod release: then add the mini-dashboard-detail-prod
-->
<div id="mini-dashboard-detail-releases" class="hide mini-dashboard-detail mini-dashboard-detail-prod">
  {% if last_release %}

  <p style="font-size: 115%; margin-top: 15px;">
    Release <strong>#42</strong> sent to <strong>{{ service.name }}</strong> on <strong>{{ site.name }}</strong> {{last_release.date|relative_datetime}}.
  </p>

  <p style="font-size: 115%;">
    <i class="icon-star"></i>
    Sent to production {{last_release.date|relative_datetime}}.
  </p>

  <br />

  <table class="table table-bordered">
    <thead>
      <tr class="title">
        <th>Package Name</th>
        <th>Release Version</th>
        <th>Current Version</th>
        <th>Compare View</th>
      </tr>
    </thead>
    <tbody>
      {% if changed_packages|length < 1 %}
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">No package changes</td>
        </tr>
      {% endif %}

      {% for package_name in changed_packages %}
        <tr>
          <td>{{package_name}}</td>
          <!-- need the package names. -->
          <td><a href="http://code.corp.surveymonkey.com/devmonkeys/{{package_name}}">2.7.14-TBD</a></td>
          <td><a href="http://code.corp.surveymonkey.com/devmonkeys/{{package_name}}">2.8.12-TBD</a></td>

          <!--
              need the hash to hash for each one of these release.
              need the hash of the current release. or maybe use the tag. as a hash
            -->
          <td><a href="#compare">Sha1 TBD... Sha1 TBD</a></td>
        </tr>
      {% endfor %}

      <tr class="title">
        <th>Config Files</th>
        <th>Current Commit</th>
        <th>Release Commit</th>
        <th>Compare View</th>
      </tr>

      <tr>
        <!--
        Need the config commit date. the commit sha1.
        -->
        <td rowspan="2">&nbsp;</td>
        <td rowspan="2"><a target="_blank" href="http://code.corp.surveymonkey.com/config/anweb/commit/ffb67f00cb957c04154d796786d5d0bb068c28a0">
          Date TBD
        </a></td>
        <td rowspan="2"><a target="_blank" href="http://code.corp.surveymonkey.com/config/anweb/commit/ffb67f00cb957c04154d796786d5d0bb068c28a0">
          Date TBD
        </a></td>
        <td><a href="#compare">TBD...TBD</a></td>
      </tr>
    </tbody>
  </table>
  {% else %}
    <p>The last release date is <strong>unknown</strong>.</p>
  {% endif %}
</div>