<div class="mini-dashboard">
  <div class="mini-dashboard-square mini-success">
     <h2>Last Release</h2>
     <p>No previous releases</p>
  </div>

  <div class="mini-dashboard-square mini-fail">
     <h2>Config</h2>
     <p>Files are out out of date</p>
  </div>
  <div class="mini-dashboard-square mini-success">
     <h2>Recent Jobs</h2>
     <p>The last cycle job succeeded</p>
  </div>
</div>

<!--
  here we'll drop down an a hidden area with more details about the config.

  the big buttons will be clickable and will show off the
  jobs or whatever. you can see more detail by clickong on it. the moment
  that a job is shwon we'll swithc to the jobs view and expand. same restraints apply
  up to 3 recent jobs
{% include 'queue/queued_items.html' %} -->