<div class="modal-header">
  <h3>Packages on Cheese Prism</h3>
</div>
<div class="modal-body">
  <form class="well">
  <select id="select01">
    <option selected="selected">Select a package</option>
    {% for pckg in other_packages|sort(attribute='name') %}
      <option value="{{ pckg.name }}" >
        {{ pckg.name }}
      </option>
    {% endfor %}
  </select>
  <span class="help-block">
    Select the package you want to add to this Service Environment
  </span>
</form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <a href="#" class="btn sm-btn">Add to Service Environment</a>
</div>