<div class="modal-header">
  <h3>Release a new version of {{ package.name }} to Cheese Prism</h3>
</div>
<div class="modal-body">
  <form class="well">
  <input id="push_package_name" type="hidden" value="{{ package.name }}" />
  <label>Branch</label>
  <select id="push_package_branch" required>
    <option value="" selected="selected">Select a branch</option>
    {% for branch in package.get_github_info()['branches']|sort %}
      {% if loop.length == 1 %}
        {% set selected = 'selected="selected"' %}'
      {% endif %}
      <option value="{{branch['name']}}" {{ selected }}>
        {{branch['name']}}
      </option>
    {% endfor %}
  </select>

  <label>Next Version</label>
  <input id="push_package_version" type="text" class="span3"
  value="{{ next_version }}" placeholder="Enter the next package version" required>

  <span class="help-block">
    Latest Version <strong>{{ current_version }}</strong> on Cheese Prism
  </span>
  <span class="help-block">
    Select the branch you want to package and send to Cheese Prism.
  </span>
</form>
</div>

<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <a id="push_package" class="btn disabled sm-btn-success" href="#">
  <i class="icon-plus icon-white"></i>
    Release New Version
  </a>
</div>