{% extends 'layouts/base.html' %}
{% block content %}
<div class="title">
	<h2>
    {{ service.name }} on
    <a href="/sites/{{site.name_url}}">{{ site.name|upper }}</a></h2>
</div>

<div>
<div class="well hide">
  <a id="push-to-test-site" class="btn sm-btn" href="#">
  <!-- release to test site needs a modal -->
  <i class="icon-chevron-right icon-black"></i> Release to Test Site</a>
  <!-- add new version to this service -->
  <a id="add-pckg" class="btn sm-btn-success" href="#">
  <i class="icon-plus icon-white"></i> Add New Package</a>
</div>

<!-- service_queue_status.html here -->
<div class="accordion group" id="package-accordion">
  <div class="accordion-group">
    <div class="accordion-heading group sm-accordion-title">
      <a href="#" onclick="return false;" data-toggle="collapse"
      data-target="#sm_packages_table">
        Survey Monkey Packages</a>
    </div>
  </div>

  <div id="sm_packages_table" class="accordion-body collapse">
  <table class="table">
    <thead>
      <tr>
        <th>Package</th>
        <th>Version</th>
        <th> &nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <!-- our packages first, the ones with the github repo data -->
      {% for pckg in service.packages|sort(attribute='name') %}
      {% set git_info = pckg.get_github_info() %}

      {% if git_info %}
      <tr>
        <td width="20%">
          <a href="#" onclick="return false;"
          data-toggle="collapse" data-target="#{{ pckg.name }}_git_info">
          {{ pckg.name }}
        </a>
        </td>
        <td width="80%">
          <select id="pckg_select_{{ pckg.name }}">
            {% for version in pckg.get_versions()|sort(reverse=True, case_sensitive=False) %}
              <option value="{{ version }}"
              {% if pckg.version == version %}selected="selected"{% endif %} >
                {{ version }}
              </option>
            {% endfor %}
          </select>
          <a class="btn sm-btn-success new-version-btn" data-name="{{pckg.name}}" href="#">
            <i class="icon-chevron-right icon-white"></i> Push New Version
          </a>
        </td>
      </tr>
      <tr class="git-info-row">
          <!-- alextodo, after click add class show, remove hidden
          show the commit log right here.
          -->
          <td colspan="2" class="hidden">
            <div id="{{ pckg.name }}_git_info" class="accordion-body collapse in">
              <ul>
                <!-- alextodo need to sort by author date, should I flatten it out?
                      yes, alextodo flattent this ish out and sort by author
                -->
                {% for commit in git_info['commits']|sort(attribute='sha') %}
                  <li>
                    <h5>Sha: {{commit["sha"]}}</h5>
                    <h5>Commit Message: {{commit["message"]}}</h5>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>
  <!-- end sm_packages_table -->

  <div class="accordion-group">
    <div class="accordion-heading group sm-accordion-title">
      <a href="#" onclick="return false;" data-toggle="collapse"
      data-target="#other_packages_table">
        Other packages</a>
    </div>
  </div>

  <div id="other_packages_table" class="accordion-body collapse in">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Package</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <!-- packages without github info, alextodo, hide this by default -->
      {% for pckg in service.packages|sort(attribute='name') %}
      {% if not pckg.get_github_info() %}
      <tr>
        <td width="20%">{{ pckg.name }} {{ pckg.version['version'] }}</td>
        <td width="80%">
          <select id="pckg_select_{{ pckg.name }}">
            {% for version in pckg.get_versions()|sort(reverse=True, case_sensitive=False) %}
              <option value="{{ version }}"
              {% if pckg.version == version %}selected="selected"{% endif %} >
                {{ version }}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>
<!-- end package-accordion -->

<!-- all the packages on cheese prism not in this service -->
<div id="add-packages" class="modal hide">
  <!-- fill in -->
</div>
<div id="push-to-cheese-modal" class="modal hide">
  <!-- fill in -->
</div>
{% endblock %}

{% block scripts %}
<script>
var __service = {{service_json|safe}};
</script>
<script language="javascript" type="text/javascript" src=""></script>
<script language="javascript" type="text/javascript" src=""></script>
{{ [
'/js/common/util.js',
'/js/services/serv_data.js',
'/js/services/serv_env.js'
]|js_script|safe }}
{% endblock %}