<div class="content">

<div class="modal fade show">
  <div class="modal-header modal-header-error">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Warning: This Service is Reverted</h3>
  </div>
  <div class="modal-body">
    <p>This service was reverted to release #43. You will be updating the config files and updating the packages.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Release Anyway</a>
  </div>
</div>

</div>