{% extends 'layouts/base.html' %}
{% block content %}
<div class="title">
  <h2>Details for
    <a href="/sites/{{site.name_url}}/{{service.name_url}}/details">{{ service.name }}</a> on
    <a href="/sites/{{site.name_url}}">{{ site.name|upper }}</a></h2>
  </h2>
</div>
<table class="table table-striped">
    <tr>
        <td><strong>Status</strong></td>
        <td>{{ service.get_status()|get_pretty_status }}</td>
    </tr>
    <tr>
        <td><strong>Last Tag</strong></td>
        <td>{{ service.last_tag.name }}</td>
    </tr>
    <tr>
        <td><strong>Last Tag Message</strong></td>
        <td>{{ service.last_tag.message }}</td>
    </tr>
    <tr>
        <td><strong>Compare View</strong></td>
        <td>
          {% if service.tags|length > 0 %}
          <div>
            Compare the tag
            <select id="compare_dropdown1">
              {% for tag in service.tags|sort(attribute='date',reverse=True) %}
                <option value="{{ tag.name }}"
                {% if loop.index == 2 %}selected="selected"{% endif %}>
                  {{ tag.name }}
                </option>
              {% endfor %}
            </select>
            to the tag
            <select id="compare_dropdown2">
              {% for tag in service.tags|sort(attribute='date', reverse=True) %}
                <option value="{{ tag.name }}"
                {% if loop.index == 1 %}selected="selected"{% endif %}>
                {{ tag.name }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <br /><!-- fix styles here, they are wrong, don't do the br -->
          <a id="compare_url" href="{{ service.get_compare_url() }}" target="_blank">
            Compare {{ service.last_tag.name }} to {{ service.last_tag.name }}
          </a>
          </div>
          {% else %}
            No tags exist for <strong>{{ service.name }}</strong>
          {% endif %}
        </td>
    </tr>
    {% if service.changed_files|length > 0 and service.get_status() == 'uncommitted_changes' %}
    <tr>
        <th style="vertical-align: top;">
            Changed Files
        </th>
        <td>
            <table>
            {% for changed_file in service.changed_files|sort %}
            <tr>
              <td>{{ changed_file }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th style="vertical-align: top;">
            Packages
        </th>
        <!-- create four columns per row -->
        <td valign="top" align="left">
          <table>
            <tr>
              <td colspan="3" style="border-top: 0px;">
                Download a <a href="http://www.pip-installer.org/en/latest/requirements.html" target="_blank">pip</a>
                <a href="/sites/{{ site.name_url }}/{{ service.name_url }}/freeze" >
                requirements file</a>.
            </td>
            </tr>
            {% set count = 1 %}

            {% for pack in service.packages|sort(attribute='name') %}
            {% if count == 1 %}
            <tr>
            {% endif %}

              <td><strong>{{ pack.name }}</strong> {{ pack.version }}</td>

            {% if count == 3 %}
            </tr>
            {% endif %}

            {% if count == 3 %}{% set count = 1 %}{% else %}{% set count = count + 1 %}{% endif %}

            {% endfor %}
          </table>
        </td>
    </tr>
</table>
<script>
  __compare_url = "{{ service.get_compare_url() }}";
</script>
{{ [
'/js/libs/jquery.js',
'/js/common/util.js',
'/js/services/service.js'
]|js_script|safe }}
{% endblock %}